:root {
	--main-color: #1da1f2;
}

body, html {
	margin: 0;
	padding:0;
} 

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:92vh 8vh;
}
.container .left-box {
	background: var(--main-color);
	grid-column:1/2;
	display: flex;
	justify-content:center;
	align-items:center;
}


.container .left-box ul li {
	list-style: none;
	margin: 50px;
	line-height: 24px;
	font-size: 18px;
	color: white;
}

.container .left-box ul li .icon {
	font-size: 30px;
	margin-right: 10px;
}