body,html {
    min-height: 100%;
}
body {
    position: relative;

}

.overlay {
    content:center;
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left:0;
   background: black;
    opacity: 0.3;
    z-index: -1;
}
   
.middle-box {
    display: inline-block;
  	width: 550px;
  	height: 550px;
    margin-left: 30%;
    position: absolute;
    margin-top: 0;
	padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
  	background:white; 
    
}
 .sign-up-container {
	 width: 550px;	   
}
.logo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo i{
    font-size: 2.0em;
    color: #1da1f2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo button{
    border: 2px solid white;
    background-color: #1da1f2;
    color: white;
    border-radius: 30px;
    padding: 5px;
    width: 70px;
    font-size: 14px;
    font-weight:bolder;
}

.sign-up-container h2{
    font-size: 1.8em;
    font-weight: bolder;
    word-spacing: 2px;
}
.sign-up-container h5 {
	font-size: 1.0em;
	color: #1da1f2;
	font-family:serif;
    font-weight: lighter;
}

input {	 
	width: 100%;
	display: block;
	border: 0;
  	outline: 0;
  	background: transparent;
  	padding: 10px 0;
    border-bottom: solid 1px grey;
  	
}
.middle-box .sign-up-container .name {
    margin-bottom: 40px;
}
.middle-box .sign-up-container .name:focus {
    border-bottom: 2px solid #1da1f2;
}
.middle-box .sign-up-container .phone:focus {
    border-bottom: 2px solid #1da1f2;
}
	 
::placeholder {
	 color: black;
	 font-size: 18px;
     font-weight: lighter;
     font: serif;
	}

nav{
    width: 70%;
    margin: auto;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
 .line{
    width: 100%
    margin:0;
    padding: 0;
    border-bottom: 1px solid grey;   
}

nav ul{
    padding-left: 0;
    display: flex;
    align-items: center;

    
}

nav ul li{
    display: inline-block;
}


.nav-logo{
    font-size: 1.7em;
    color: #1da1f2;
    margin-right: 20px;
}

.search-box-wrapper{
    position: relative;
    height: 30px;
}

.t-search{
    border: none;
    background-color: #ddd;
    border-radius: 30px;
    width: 500px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px
}

.t-search::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #212121;
    font-size: 16px;
    font-weight: lighter;
}
.search-box-wrapper i{
    position: absolute;
    left: 15px;
    top: 8px;
    color: #262626;
}

.log-in{
    background-color: white;
    color: #1da1f2;
    border: 2px solid #1da1f2;
    padding: 7px 25px;
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 15px;
    font-weight: bolder;
}

.log-in:focus{
    outline: none;
}

.sign-up{
    background-color: #1da1f2;
    color: white;
    padding: 9px 25px;
    border-radius: 20px;
    border: none;
    margin-right: 30px;
    font-weight: bolder;
}

.sign-up:focus{
    outline: none;
}

nav ul li:last-child{
    color: #1da1f2;
    font-size: 1.3em;
}



