:root {
	--blue-color: #1da1f2;
    --grey-color:#e6ecf0;
}

/* body{
    
    font-family: "Segoe UI", Arial, sans-serif;
<<<<<<< HEAD
} */
=======
    padding: 0px;
    margin: 0px;
}
>>>>>>> theme-style

main{
    width: 90%;
    margin: auto;
    display: flex;
    background-color:#e6ecf0; 
}

#profile-trend{
    width: 25%;
    background-color: var(--grey-color);
    overflow: hidden;
}

.profile-info{
    background-color: #1da1f2;
    padding-top: 70px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#profile-photo{
    border: 2px solid white;
    border-radius: 50px;
    width: 90px;
}

.profile-name{
    background-color: white;
    margin-left: -10px;
    margin-top: -50px;
    padding-top: 50px
}

#display-name{
    display: block;
    color: black;
    font-size: 1.5em;
    margin-left: 110px;
    margin-top: -40px;
    text-decoration: none;
}

#user-name{
    display: block;
    color: grey;
    margin-left: 110px;
    margin-top: -20px;
    text-decoration: none;
}

.account-info{
    display: flex;
    padding-left: 10px;
}

.tweet-info{
    margin: 5px;
    margin-top: 20px;
}

.tweet-info-heading a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.tweet-info-stats a{
    font-size: 1.4em;
    text-decoration: none;
    color: var(--blue-color);
    font-weight: bolder;
}

.trend-info{
    background-color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}

.trend-heading{
    display: flex;
    align-items: center;
}

.trend-heading h3{
    margin-right: 10px;
    margin-top: 10;
}

.trend-heading a{
    text-decoration: none;
    color: var(--blue-color);
    font-size: 0.8em;
}

.trends h4{
    color: var(--blue-color);
    margin-bottom: 0;
    margin-top: 0;
}

.trends p{
    margin-top: 0;
    color: grey;
    
}

#timeline{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
}

#follower-footer{
    width: 25%;
    background-color: var(--grey-color);
}

#follower-info{
    background-color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 10px;
}

.follower-header{
    display: flex;
    align-items: center;
}

.follower-header h3{
    margin-top: 0;
    margin-bottom: 0;
}

.follower-header a{
    text-decoration: none;
    margin: 0 5px;
    font-size: 0.8em;
    color: var(--blue-color)
}

.follower-card{
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(125,125,125,0.5);
}

.follower-card img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
}

.user_handle p{
    display: inline;
    font-weight: bolder;
}

.user_handle a{
    text-decoration: none;
    color: gray;
}

.user_handle button{
    border: 1px solid var(--blue-color);
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    color: var(--blue-color);
    font-weight: bolder;
    margin-top: 3px;
}

.user_handle button:focus{
    outline: none;
}

.user_handle button:hover{
    background-color: rgba(29,161,242, 0.1);
}

.people-you-know{
    display: flex;
    align-items: center;
}

.people-you-know i{
    color: var(--blue-color);
    margin-right: 10px;
}

.people-you-know{
    color: var(--blue-color);
    font-weight: lighter;
}

#twitter-footer{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

#twitter-footer a{
    text-decoration: none;
    color: gray;
    font-size: 0.8em;
    padding: 0 1px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    margin: 0px;
    color: #14171a;
    background-color: #e6ecf0;
    font-size: 14px;
    line-height: 20px;
}

nav {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    height: 46px;
    position: relative;
    width: 100%;
    align-items: center;
    font-size: inherit;
    line-height: 20px;
}

/* input#modeswitch {
position: absolute;
top: -9999px;
left: -9999px;
*/
label {
    display: block;
    width: 50px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    position: fixed;
    background-color: #1da1f2;
    padding: 5px;
}

/* Dark Theme */
  
input#modeswitch:checked + div > main  {
    background: #10171e;
}

input#modeswitch:checked + div  {
    background: #10171e;
}

input#modeswitch:checked + div  #profile-trend {
    background: #10171e;
}

input#modeswitch:checked + div .profile-name {
    background: #1c2938;
}

input#modeswitch:checked + div .tweet-info-heading > a {
    color: gray ;
}

input#modeswitch:checked + div #display-name{
    color: #fff;
}

input#modeswitch:checked + div .trend-info {
    background: #1c2938;
    color: #fff;
}


input#modeswitch:checked + div #timeline {
    background: #1c2938;
}

input#modeswitch:checked + div #follower-footer {
    background: #10171e;
}

input#modeswitch:checked + div #follower-info {
    background: #1c2938;
}

input#modeswitch:checked + div .follower-header {
    color: #fff;
}

input#modeswitch:checked + div .follower-card {
    color: #fff;
}

input#modeswitch:checked + div  .user_handle > button {
    background: #1c2938;
}

input#modeswitch:checked + div > main  #twitter-footer {
    background: #1c2938;
    border: 0.5px solid rgba(125,125,125,0.5);
}

a.nav-links {
    text-decoration: none;
    color: #66757f;
    margin: auto 15px auto 5px;
}

ul#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav-item {
    display: inline-block;
}

.inner-nav {
    display: flex;
    flex-direction: row;
    width: 890px;
    margin: 0px auto;
    align-items: cnter;
    justify-content: space-between;
}

#twitter-logo {
    display: inline-block;
    height: 32px;
    width: 32px;

}

#top-profile {
    width: 32px;
    height: 32px;
    border: 50%;
    margin: auto 15px;
}

.tweet-btn {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    border-radius: 100px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 16px;
    text-align: center;
    white-space: nowrap;
}

#right-nav {
    display: flex;
    flex-direction: row;
} 

.search-box-wrapper{
    position: relative;
}

#search-input {
    background-color: #f5f8fa;
    border-radius: 21px;
    border: 1px solid #e6ecf0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #14171a;
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    width: 100%;
    
}

.search-box-wrapper i{
    position: absolute;
    left: 160px;
    top:8px;
    color: #262626;
    opacity: 0.4;
    font-size: 1.2em;
    cursor: pointer;
}

#left-nav {
    display: flex;
    align-items: center
}

i {
    font-size: 20px;
    margin-right: 5px;
}
