@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
	--blue-color: #1da1f2;
}

body, html {
	margin: 0;
	padding:0;
    font-family: "Segoe UI",Arial, sans-serif;
} 

.main-container{
    display: flex;
}

.container {
	height: 93vh;
	display: grid;
	grid-template-columns: 1fr;
    width: 50%;
}
.container .left-box {
	background: var(--blue-color);
	grid-column:1/2;
	display: flex;
	justify-content:center;
	align-items:center;
}


.container .left-box ul li {
	list-style: none;
	margin: 50px;
	line-height: 24px;
	font-size: 18px;
	color: white;
}

.container .left-box ul li .icon {
	font-size: 30px;
	margin-right: 10px;
}

.right-box{
    width: 50%;
}

.sign-in-container{
    width: 50%;
    margin: auto;
    margin-top: 23%;
}

.logo{
    display: flex;
    justify-content: space-between;
}

.logo i{
    font-size: 2.5em;
    color: var(--blue-color);
}

.logo button{
    border: 2px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
    border-radius: 20px;
    padding: 10px;
    font-weight: bolder;
}

.sign-in-container h2{
    font-size: 1.8em;
    font-weight: bolder;
    word-spacing: 2px;
}

.sign-in-container h5{
    font-size: 1.1em;
}

.sign-up-btn{
    background-color: var(--blue-color);
    border: none;
    font-weight: bolder;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.sign-up-btn a{
    text-decoration: none;
    color: white;
}

.sign-up-btn:focus{
    outline: none;
}

.sign-up-btn:hover{
    background-color: royalblue;
    cursor: pointer;
}

.log-in-btn{
    border: 2px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    font-weight: bolder;
}

.log-in-btn:focus{
    outline: none;
}

.log-in-btn:hover, .logo button:hover{
    background-color: rgba(29,161,242, 0.08);
    cursor: pointer;
}

footer{
    border-top: 0.5px solid rgba(188,184,194, 0.5);
}

footer ul{
    padding-left: 0;
    text-align: center;
}

footer ul li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #bcb8c2;
    font-size: 0.75em;
}















